Action application/x-hg-php53 /cgi-sys/php53
AddType application/x-hg-php53 .php

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

#RewriteCond %{HTTP_HOST} !^(www.thejach.com|localhost|localthejach)$
#RewriteRule ^(.*)$ http://www.thejach.com/$1 [L]
RewriteCond $1 !^(index\.php|imgs|js|css|flex|public|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]
